Repository Glazzes/react-native-zoom-toolkit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc --noEmit
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feature: add double tap callbacks to ResumableZoom
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
Due: lint, types

feature: add double tap callbacks to Gallery
  src/commons/utils/snapPoint.ts
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/gallery/types.ts
Due: lint, types

docs: add double tap callbacks to gallery
  docs/docs/components/gallery.md
Due: none

docs: add double tap callbacks to resumablezoom
  docs/docs/components/resumablezoom.md
Due: none

docs: change default timing config on gallery
  docs/docs/components/gallery.md
Due: none

docs: change version from 6.0.0 to 5.1.0
  docs/docs/.vitepress/config.mts
Due: none

build: update create-react-native-library dependencies
  example/babel.config.js
  example/package.json
  package.json
  tsconfig.json
  yarn.lock
Due: lint, types

fix: double tap type on snapbackzoom
  src/components/snapback/types.ts
Due: lint, types

build: add ts-ignore for performance.now calls
  src/commons/hooks/usePanCommons.ts
  src/commons/utils/getSwipeDirection.ts
  src/components/gallery/GalleryGestureHandler.tsx
Due: lint, types

chore: remove video item temporarly
  example/app.json
  example/src/gallery/GalleryExample.tsx
Due: lint

chore: bump version to 5.0.1
  package.json
Due: none

chore: update tsconfig
  src/hooks/useImageResolution.ts
  tsconfig.json
Due: lint, types

chore: update package version
  package.json
Due: none

fix(pinch): gate gestureEnd reset on finished to stop native-stack overflow under Reanimated 4
  src/commons/hooks/usePinchCommons.ts
Due: lint, types

feat(Gallery): add configurable page thresholds
  docs/docs/components/gallery.md
  example/src/gallery/GalleryExample.tsx
  src/__tests__/commons/getSwipeDirection.test.ts
  src/__tests__/gestures/GalleryGestures.test.tsx
  src/commons/utils/getSwipeDirection.ts
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/gallery/types.ts
Due: lint, types

fix: scale at 0 when changing the index property
  src/components/gallery/Gallery.tsx
Due: lint

build: update expo libraries with npx expo install --fix
  example/package.json
  yarn.lock
Due: none

fix: hot reload
  package.json
Due: none

chore: fix linting issues
  example/src/gallery/GalleryExample.tsx
  src/hooks/useImageResolution.ts
Due: lint, types

build: update version to 5.1.1
  package.json
Due: none
