Repository Glazzes/react-native-zoom-toolkit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc --noEmit
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: release 2.1.0
  package.json
Due: none

fix: set shared values properly in pan commons hook
  src/commons/hooks/usePanCommons.ts
Due: lint, types

docs: bump vesion to 2.1.1
  docs/docs/.vitepress/config.mts
Due: none

chore: release 2.1.1
  package.json
Due: none

refactor: improve commons code readability and style
  src/commons/hooks/usePanCommons.ts
  src/commons/hooks/usePinchCommons.ts
  src/commons/utils/getSwipeDirection.ts
Due: lint, types

fix: when pulling vertical it will no longer block swipes
  src/commons/hooks/usePanCommons.ts
  src/components/gallery/Reflection.tsx
Due: lint, types

refactor: improve code readability for Gallery and Snapback
  src/components/gallery/GalleryItem.tsx
  src/components/gallery/GalleryProvider.tsx
  src/components/gallery/Reflection.tsx
  src/components/snapback/SnapbackZoom.tsx
Due: lint

refactor: remove min and max scale parameters from pan commons
  src/commons/hooks/usePanCommons.ts
  src/commons/utils/getSwipeDirection.ts
  src/components/crop/CropZoom.tsx
  src/components/resumable/ResumableZoom.tsx
Due: lint, types

fix(Gallery): fix onVerticalPull and onSwipe overlap
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryItem.tsx
  src/components/gallery/GalleryProvider.tsx
  src/components/gallery/Reflection.tsx
Due: lint

chore: release 2.1.2
  package.json
Due: none

fix(Gallery): fix #44 and flickering on low android devices
  src/commons/misc/stacktransition.ts
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryItem.tsx
  src/components/gallery/GalleryProvider.tsx
  src/components/gallery/Reflection.tsx
  src/components/gallery/context.ts
Due: lint, types

chore: release 2.1.3
  docs/docs/.vitepress/config.mts
  package.json
Due: none

docs: improve docs readability and bump vitepress to 1.3.2
  docs/docs/components/cropzoom.md
  docs/docs/components/gallery.md
  docs/docs/components/resumablezoom.md
  docs/docs/components/snapbackzoom.md
  docs/package.json
Due: none

refactor: remove constant.ts file and improve readability
  src/commons/constants.ts
  src/commons/utils/crop.ts
  src/commons/utils/getCropRotatedSize.ts
  src/commons/utils/getPinchPanningStatus.ts
  src/commons/utils/getSwipeDirection.ts
  src/commons/utils/pinchTransform.ts
  src/components/crop/CropZoom.tsx
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryItem.tsx
  src/components/gallery/Reflection.tsx
  src/components/resumable/ResumableZoom.tsx
  src/components/snapback/SnapbackZoom.tsx
  src/index.ts
  src/utils/getAspectRatioSize.ts
Due: lint, types

chore: fix yarn.lock issues
  yarn.lock
Due: none

chore: release 2.1.4
  docs/docs/.vitepress/config.mts
  example/app/Pinga.tsx
  package.json
Due: lint

feat(ResumableZoom): add double tap detection support for onGestureEnd
  src/commons/hooks/usePanCommons.ts
  src/components/resumable/ResumableZoom.tsx
Due: lint, types

docs(ResumableZoom): documents changes mande in 6e8d088
  docs/docs/components/resumablezoom.md
Due: none

refactor(CropZoom)!: made many changes to CropZoom
  src/commons/utils/crop.ts
  src/commons/utils/getVisibleRect.ts
  src/commons/utils/messages.ts
  src/components/crop/CropZoom.tsx
  src/components/crop/types.ts
Due: lint, types

docs(CropZoom): document changes in b4861f8
  docs/docs/components/cropzoom.md
  docs/docs/components/resumablezoom.md
Due: none

chore: refactor validation hocs
  src/__tests__/components/CropZoom.test.tsx
  src/__tests__/components/SnapbackZoom.test.tsx
  src/commons/hoc/withCropValidation.tsx
  src/commons/hoc/withResumableValidation.tsx
  src/commons/hoc/withSnapbackValidation.tsx
Due: lint

feat(Gallery): add onUpdate callback property
  src/components/gallery/Gallery.tsx
  src/components/gallery/Reflection.tsx
  src/components/gallery/types.ts
Due: lint, types

chore: rename ResumableZoomState to CommonZoomState
  src/commons/types.ts
  src/components/crop/types.ts
  src/components/gallery/types.ts
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
  src/components/snapback/types.ts
  src/index.ts
Due: lint, types

docs: improve docs readability
  docs/docs/.vitepress/config.mts
  docs/docs/components/cropzoom.md
  docs/docs/components/resumablezoom.md
  docs/docs/components/snapbackzoom.md
  docs/docs/utilities/getAspectRatioSize.md
  docs/docs/utilities/useimageresolution.md
Due: none

docs: add how to use with skia components guide
  docs/docs/guides/skia.md
Due: none

chore: update example app to the latest changes
  example/app/Pinga.tsx
  example/app/_layout.tsx
  example/app/resumableskia.tsx
  example/src/cropzoom/common-example/Controls.tsx
  example/src/cropzoom/skia-example/Controls.tsx
  example/src/navigation/Drawer.tsx
  example/src/resumable/ResumableZoomExample.tsx
  example/src/resumable/ResumableZoomSkia.tsx
  example/src/resumable/index.ts
Due: lint, types

docs: fix typos in skia guide
  docs/docs/guides/skia.md
Due: none

feat: add useTransformationState hook
  src/commons/types.ts
  src/components/crop/CropZoom.tsx
  src/components/crop/types.ts
  src/components/gallery/types.ts
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
  src/components/snapback/SnapbackZoom.tsx
  src/components/snapback/types.ts
  src/hooks/useTransformationState.ts
  src/index.ts
Due: lint, types

docs: fix typos in skia guide and cropzoom docs
  docs/docs/.vitepress/config.mts
  docs/docs/components/cropzoom.md
  docs/docs/guides/cropzoomexpo.md
  docs/docs/guides/skia.md
Due: none

refactor: rename onGestureActive instances to onUpdate
  src/components/crop/CropZoom.tsx
  src/components/crop/types.ts
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
  src/components/snapback/SnapbackZoom.tsx
  src/components/snapback/types.ts
  src/hooks/useTransformationState.ts
Due: lint, types

docs: update documentation according to the latest changes
  docs/docs/.vitepress/config.mts
  docs/docs/components/cropzoom.md
  docs/docs/components/resumablezoom.md
  docs/docs/components/snapbackzoom.md
  docs/docs/utilities/useimageresolution.md
  docs/docs/utilities/usetransformationstate.md
Due: none

chore: make BoundsFunction's scale parameter optional
  src/commons/hooks/usePanCommons.ts
  src/components/resumable/ResumableZoom.tsx
Due: lint, types

docs: add downscaling nested componenets guide
  docs/docs/.vitepress/config.mts
  docs/docs/guides/downscale.md
  docs/docs/installation.md
  docs/docs/utilities/usetransformationstate.md
Due: none

refactor!: modify pinch implementation
  src/commons/hoc/withCropValidation.tsx
  src/commons/hooks/usePanCommons.ts
  src/commons/hooks/usePinchCommons.ts
  src/commons/hooks/useSizeVector.ts
  src/commons/hooks/useVector.ts
  src/commons/types.ts
  src/commons/utils/getSwipeDirection.ts
Due: lint, types

docs: update documentation according to the latest changes
  docs/docs/.vitepress/config.mts
  docs/docs/components/cropzoom.md
  docs/docs/components/gallery.md
  docs/docs/components/resumablezoom.md
  docs/docs/guides/downscale.md
  docs/docs/guides/skia.md
  docs/docs/installation.md
  docs/docs/utilities/usetransformationstate.md
Due: none

feat: add nested touch event support for SnapbackZoom
  docs/docs/components/snapbackzoom.md
  src/components/snapback/SnapbackZoom.tsx
  src/components/snapback/types.ts
Due: lint, types

chore: create onDoubleTapComms and small fixes
  src/commons/hooks/useDoubleTapCommons.ts
  src/commons/hooks/usePanCommons.ts
  src/commons/hooks/usePinchCommons.ts
Due: lint, types

refactor: update ResumbleZoom to the new pinch implementation
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
Due: lint, types

refactor: modifies code structure and naming
  example/app/_layout.tsx
  example/app/cropbasic.tsx
  example/app/cropskia.tsx
  example/app/gallery.tsx
  example/src/cropzoom/common-example/BasicCropZoom.tsx
  example/src/cropzoom/commons/SVGOverlay.tsx
  example/src/cropzoom/index.ts
  example/src/cropzoom/skia-example/Controls.tsx
  example/src/cropzoom/skia-example/SkiaCropZoom.tsx
  example/src/gallery/GalleryExample.tsx
  example/src/navigation/Drawer.tsx
  example/src/resumable/ResumableZoomExample.tsx
  example/src/resumable/ResumableZoomSkia.tsx
Due: lint, types

feat: add programatic zoom method to ResumableZoom
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
Due: lint, types
