Repository Glazzes/react-native-zoom-toolkit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: yarn eslint {staged_files}

types:
  run: npx tsc --noEmit

feat: refactor Gallery and other goodies
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryProvider.tsx
  src/components/gallery/Reflection.tsx
  src/components/gallery/context.ts
  src/components/gallery/types.ts
Due: lint, types

refactor: migrate CropZoom to the new pinch implementation
  src/components/crop/CropZoom.tsx
  src/components/crop/types.ts
Due: lint, types

chore: small changes that do not even deserve a message
  src/commons/hoc/withCropValidation.tsx
  src/commons/types.ts
  src/hooks/useTransformationState.ts
  src/index.ts
Due: lint, types

test: refactor CropZoom tests
  src/__tests__/components/CropZoom.test.tsx
Due: lint

docs: update documentation according to the latest changes
  docs/docs/assets/extendgestures.jpg
  docs/docs/components/cropzoom.md
  docs/docs/components/gallery.md
  docs/docs/components/resumablezoom.md
  docs/docs/components/snapbackzoom.md
  docs/docs/guides/cropzoomexpo.md
  docs/docs/guides/skia.md
  docs/docs/utilities/usetransformationstate.md
Due: none

chore: update README.md file
  README.md
Due: none

docs: fix typos and update cropzoom docs
  docs/docs/components/cropzoom.md
  docs/docs/guides/downscale.md
Due: none

chore: fix lint issues
  example/app/cropskia.tsx
  example/src/cropzoom/skia-example/SkiaCropZoom.tsx
Due: lint

chore: fix lint issues
  example/src/snapback/messages/ImageMessage.tsx
  example/src/snapback/messages/VideoMessage.tsx
  example/src/snapback/reflection/ReflectionContext.tsx
Due: lint

chore: release 3.0.0
  package.json
Due: none

docs: fix extendGestures image path in ResumableZoom
  docs/docs/components/resumablezoom.md
  docs/docs/public/extendgestures.jpg
Due: none

docs: fix typos and update SnapbackZoom docs
  docs/docs/components/cropzoom.md
  docs/docs/components/gallery.md
  docs/docs/components/resumablezoom.md
  docs/docs/components/snapbackzoom.md
  docs/docs/index.md
Due: none

refactor: change SnapbackZoom to new pinch implementaion
  src/components/snapback/SnapbackZoom.tsx
Due: lint

fix: invalid initial xy position and rotate xy transformation
  src/hooks/useTransformationState.ts
Due: lint, types

chore: remove warning about 2.16.0 gh version from all components
  docs/docs/components/cropzoom.md
  docs/docs/components/gallery.md
  docs/docs/components/resumablezoom.md
  docs/docs/components/snapbackzoom.md
  docs/docs/guides/downscale.md
  docs/docs/guides/skia.md
  docs/docs/installation.md
Due: none

chore: add test ids and remove gh version validation for iOS
  src/commons/utils/getPinchPanningStatus.ts
  src/components/crop/CropZoom.tsx
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
  src/components/snapback/SnapbackZoom.tsx
  src/components/snapback/types.ts
Due: lint, types

test!: add gesture tests and rename component tests to validation
  package.json
  src/__tests__/gestures/CropZoomGestures.test.tsx
  src/__tests__/gestures/GalleryGestures.test.tsx
  src/__tests__/gestures/ResumableZoomGetures.test.tsx
  src/__tests__/gestures/SnapbackZoomGestures.test.tsx
  src/__tests__/validation/CropZoomValidation.test.tsx
  src/__tests__/validation/ResumableZoomValidation.test.tsx
  src/__tests__/validation/SnapbackZoomValidtion.test.tsx
  yarn.lock
Due: lint

chore: add reanimated and gh as peer dependencies
  package.json
  yarn.lock
Due: none

feat!: add style property to ResumableZoom
  docs/docs/components/resumablezoom.md
  example/src/resumable/ResumableZoomExample.tsx
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
Due: lint, types

fix!: rotate x and y unit measurement
  src/hooks/useTransformationState.ts
Due: lint, types

fix(Crop): add missing scale animation on reset
  src/components/crop/CropZoom.tsx
Due: lint

feat(Gallery): add allowOverflow property
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryItem.tsx
  src/components/gallery/GalleryProvider.tsx
  src/components/gallery/Reflection.tsx
  src/components/gallery/context.ts
  src/components/gallery/types.ts
Due: lint, types

docs: update docs according to the latest changes and bump version
  docs/docs/.vitepress/config.mts
  docs/docs/components/gallery.md
  docs/docs/components/resumablezoom.md
  docs/docs/installation.md
Due: none

refactor(Resumable): change gh root view for rn view
  src/components/resumable/ResumableZoom.tsx
Due: lint

chore: release 3.1.0
  package.json
Due: none

fix: incorrect gesture direction detection
  src/components/gallery/Reflection.tsx
Due: lint

docs: fix ResumableZoom example
  docs/docs/components/resumablezoom.md
Due: none

Fix zIndex issue in SnapbackZoom with FlashList
  example/src/snapback/list/MessageList.tsx
  example/src/snapback/messages/CellRenderer.tsx
  example/src/snapback/messages/ImageMessage.tsx
Due: lint

feat(Snapback): add scrollRef property
  src/components/snapback/SnapbackZoom.tsx
  src/components/snapback/types.ts
Due: lint, types

docs(Snapback): document scrollRef property
  docs/docs/components/snapbackzoom.md
Due: none

fix(Resumable): update pinch and double tap implmentation
  src/commons/hooks/useDoubleTapCommons.ts
  src/commons/hooks/usePinchCommons.ts
  src/components/resumable/ResumableZoom.tsx
Due: lint, types

feat(Resuamble): add getVisibleRect method to ref
  src/components/resumable/types.ts
Due: lint, types

feat: replace getAspectRatioSize with fitContainer
  src/index.ts
  src/utils/fitContainer.ts
  src/utils/getAspectRatioSize.ts
Due: lint, types

docs: update docs according to the last changes
  docs/docs/.vitepress/config.mts
  docs/docs/components/resumablezoom.md
  docs/docs/utilities/fitContainer.md
  docs/docs/utilities/getAspectRatioSize.md
  docs/docs/utilities/useimageresolution.md
Due: none

refactor: improve readability of some utility functions
  src/commons/utils/crop.ts
  src/commons/utils/getCropRotatedSize.ts
  src/commons/utils/getSwipeDirection.ts
  src/commons/utils/getVisibleRect.ts
  src/commons/utils/resizeToAspectRatio.ts
Due: lint, types

fix(Crop): fix gesture detection
  src/components/crop/CropZoom.tsx
  src/components/crop/types.ts
Due: lint, types

fix(Gallery): fix gesture detection
  src/commons/misc/stacktransition.ts
  src/commons/types.ts
  src/commons/utils/getScrollPosition.ts
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryItem.tsx
  src/components/gallery/GalleryProvider.tsx
  src/components/gallery/Reflection.tsx
  src/components/gallery/context.ts
  src/components/gallery/types.ts
Due: lint, types

chore: update example app to Expo 52
  example/app.json
  example/app/_layout.tsx
  example/app/snapback.tsx
  example/package.json
  example/src/cropzoom/common-example/Controls.tsx
  example/src/cropzoom/commons/SVGOverlay.tsx
  example/src/gallery/GalleryExample.tsx
  example/src/gallery/GalleryImage.tsx
  example/src/gallery/GalleryVideo.tsx
  example/src/gallery/utils/utils.ts
  example/src/navigation/Drawer.tsx
  example/src/resumable/ResumableZoomExample.tsx
  example/src/resumable/ResumableZoomSkia.tsx
  example/src/snapback/context.tsx
  example/src/snapback/index.ts
  example/src/snapback/index.tsx
  example/src/snapback/list/MessageList.tsx
  example/src/snapback/list/components/Appbar.tsx
  example/src/snapback/list/components/TextArea.tsx
  example/src/snapback/list/messages/CellRenderer.tsx
  example/src/snapback/list/messages/ImageMessage.tsx
  example/src/snapback/list/messages/VideoMessage.tsx
  example/src/snapback/reflection/Reflection.tsx
  yarn.lock
Due: lint, types

docs: update docs to last changes and bump to version 4.0.0
  docs/docs/.vitepress/config.mts
  docs/docs/components/gallery.md
  docs/docs/installation.md
  docs/docs/utilities/fitContainer.md
Due: none

fix: pinch gesture detection when one finger is down
  src/commons/hooks/usePinchCommons.ts
  src/components/crop/CropZoom.tsx
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/resumable/ResumableZoom.tsx
  src/hooks/useImageResolution.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
