Repository Glazzes/react-native-zoom-toolkit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc --noEmit
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

Update README.md
  README.md
Due: none

fix(example): add iOS Expo Media Library permissions to prevent crash
  example/app.json
Due: none

fix(Gallery): invalid index for setIndex method
  src/components/gallery/Gallery.tsx
Due: lint

fix(Gallery): block pan gesture during double tap gesture
  src/commons/hooks/useDoubleTapCommons.ts
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/resumable/ResumableZoom.tsx
Due: lint, types

fix(Gallery): swipe gesture cause items to go upwards
  src/components/gallery/GalleryGestureHandler.tsx
Due: lint

fix(Gallery): swipe gesture cause items to go upwards again
  src/components/gallery/GalleryGestureHandler.tsx
Due: lint

fix(snapback): add runOnJS execution to onPinchStart
  src/components/snapback/SnapbackZoom.tsx
Due: lint

chore: release 5.0.1
  package.json
Due: none

build(deps): update project to Expo 54
  babel.config.js
  example/babel.config.js
  example/metro.config.js
  example/package.json
  package.json
  yarn.lock
Due: lint, types

fix(example): update cropzoom examples for modern devices
  example/src/cropzoom/common-example/BasicCropZoom.tsx
  example/src/cropzoom/common-example/Controls.tsx
  example/src/cropzoom/commons/SVGOverlay.tsx
  example/src/cropzoom/commons/contants.ts
  example/src/cropzoom/skia-example/Controls.tsx
  example/src/cropzoom/skia-example/SkiaCropZoom.tsx
Due: lint, types

refactor: remove clamp function and runOnJS for react native worklets
  example/src/gallery/GalleryExample.tsx
  example/src/gallery/GalleryImage.tsx
  example/src/snapback/context.tsx
  example/src/snapback/list/components/Appbar.tsx
  example/src/snapback/list/components/TextArea.tsx
  example/src/snapback/list/messages/ImageMessage.tsx
  example/src/snapback/list/messages/VideoMessage.tsx
  example/src/snapback/reflection/Reflection.tsx
  src/__tests__/commons/pinchTransform.test.tsx
  src/__tests__/gestures/CropZoomGestures.test.tsx
  src/__tests__/gestures/GalleryGestures.test.tsx
  src/__tests__/gestures/ResumableZoomGetures.test.tsx
  src/__tests__/validation/CropZoomValidation.test.tsx
  src/commons/hooks/useDoubleTapCommons.ts
  src/commons/hooks/usePanCommons.ts
  src/commons/hooks/usePinchCommons.ts
  src/commons/hooks/useSizeVector.ts
  src/commons/types.ts
  src/commons/utils/clamp.ts
  src/commons/utils/crop.ts
  src/commons/utils/getCropRotatedSize.ts
  src/commons/utils/getMaxScale.ts
  src/commons/utils/getVisibleRect.ts
  src/components/crop/CropZoom.tsx
  src/components/crop/types.ts
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/gallery/GalleryItem.tsx
  src/components/gallery/GalleryProvider.tsx
  src/components/gallery/context.ts
  src/components/gallery/types.ts
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
  src/components/snapback/SnapbackZoom.tsx
  src/components/snapback/types.ts
  src/hooks/useImageResolution.ts
  src/index.ts
  src/utils/fitContainer.ts
Due: lint, types

fix(test): add testing dependencies
  babel.config.js
  package.json
  yarn.lock
Due: lint, types

docs: update installation guide
  docs/docs/installation.md
Due: none

feat(gallery): set the transition on snap with props
  docs/docs/components/gallery.md
  src/commons/types.ts
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/gallery/types.ts
Due: lint, types

feature: useZoomCallbacks
  src/hooks/useZoomCallbacks.ts
Due: lint, types

refactor: change 'resumable' for 'common' on useTransformation state hook
  src/hooks/useTransformationState.ts
Due: lint, types

fix: appbar height
  example/src/resumable/Appbar.tsx
  example/src/resumable/ResumableZoomExample.tsx
  example/src/resumable/ResumableZoomSkia.tsx
Due: lint

chore: remove type SharedRumber for SharedValue<number>
  src/hooks/useTransformationState.ts
Due: lint, types

feature: rtl support
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/gallery/GalleryItem.tsx
  src/components/gallery/types.ts
Due: lint, types

chore: export useZoomCallbacks hooks
  src/index.ts
Due: lint, types

refactor: make timingConfig a common parameter
  src/commons/hoc/withCropValidation.tsx
  src/commons/hoc/withResumableValidation.tsx
  src/commons/types.ts
  src/components/snapback/types.ts
  src/index.ts
Due: lint, types

refactor: rename SizeVector type to Size
  example/src/cropzoom/common-example/BasicCropZoom.tsx
  example/src/cropzoom/commons/SVGOverlay.tsx
  example/src/snapback/list/messages/ImageMessage.tsx
Due: lint

docs: rtl feature
  docs/docs/components/gallery.md
Due: none

feature(gallery): add snapTransitionConfig property
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/gallery/types.ts
Due: lint, types

docs: add snapTimingConfig entry to gallery
  docs/docs/components/gallery.md
Due: none

feature(snapback): add minScale and maxScale
  src/commons/hoc/withSnapbackValidation.tsx
  src/components/snapback/SnapbackZoom.tsx
Due: lint

docs(snapback): add minScale and maxScale entries
  docs/docs/components/resumablezoom.md
  docs/docs/components/snapbackzoom.md
Due: none

fix: linter issues
  babel.config.js
  eslint.config.mjs
  example/src/cropzoom/common-example/BasicCropZoom.tsx
  example/src/cropzoom/common-example/Controls.tsx
  example/src/cropzoom/commons/SVGOverlay.tsx
  example/src/cropzoom/commons/contants.ts
  example/src/cropzoom/skia-example/Controls.tsx
  example/src/cropzoom/skia-example/SkiaCropZoom.tsx
  example/src/gallery/GalleryExample.tsx
  example/src/gallery/GalleryImage.tsx
  example/src/resumable/ResumableZoomExample.tsx
  example/src/snapback/context.tsx
  example/src/snapback/list/components/Appbar.tsx
  example/src/snapback/list/components/TextArea.tsx
  example/src/snapback/reflection/Reflection.tsx
  package.json
  src/commons/hoc/withResumableValidation.tsx
  src/commons/hoc/withSnapbackValidation.tsx
  src/commons/hooks/useDoubleTapCommons.ts
  src/commons/hooks/usePanCommons.ts
  src/commons/hooks/usePinchCommons.ts
  src/commons/types.ts
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/gallery/GalleryItem.tsx
  src/components/snapback/SnapbackZoom.tsx
  src/hooks/useTransformationState.ts
  src/hooks/useZoomCallbacks.ts
Due: lint, types

build: bump node version to 24
  .nvmrc
Due: none

docs: add useZoomCallbacks entry
  docs/docs/.vitepress/config.mts
  docs/docs/utilities/useZoomCallbacks.md
  docs/docs/utilities/usetransformationstate.md
Due: none

refactor: useZoomCallbacks
  src/hooks/useZoomCallbacks.ts
Due: lint, types

fix(gallery): reset zoom state when setting a new index
  src/components/gallery/Gallery.tsx
Due: lint

fix: sudden jump on iOS 26.0.1 and 26.1
  src/commons/hooks/useDoubleTapCommons.ts
  src/commons/hooks/usePinchCommons.ts
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/resumable/ResumableZoom.tsx
Due: lint, types

chore: update gitignore
  .gitignore
Due: none

feat: add velocity to onVerticalPull
  example/src/gallery/GalleryExample.tsx
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/gallery/types.ts
Due: lint, types

Update BlocksGesture type to allow null references
  src/components/snapback/types.ts
Due: lint, types

docs: improve description for RTL property
  docs/docs/components/gallery.md
Due: none

chore: add double tap callbacks definition
  src/commons/hooks/useDoubleTapCommons.ts
  src/commons/hooks/usePanCommons.ts
  src/commons/types.ts
  src/commons/utils/snapPoint.ts
Due: lint, types
