Repository Glazzes/react-native-zoom-toolkit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: yarn eslint {staged_files}

types:
  run: npx tsc --noEmit

fix(Resuamble): incorrect tap gesture data on gesture
  src/components/resumable/ResumableZoom.tsx
Due: lint

docs: improve installation readability
  docs/docs/installation.md
Due: none

fix(Tests): incorrect tap to next item test for Gallery
  src/__tests__/gestures/GalleryGestures.test.tsx
  src/components/gallery/GalleryGestureHandler.tsx
Due: lint

chore: update package.json keywords and peer dependencies
  package.json
Due: none

chore: sync yarn.lock with package.json
  yarn.lock
Due: none

chore: release 4.0.0
  README.md
  example/app.json
  example/src/snapback/list/MessageList.tsx
  package.json
Due: lint

Update Gallery Example
  docs/docs/components/gallery.md
Due: none

Fix Typo
  docs/docs/components/gallery.md
Due: none

fix(CropZoom): blurry image on load
  example/app.json
  src/components/crop/CropZoom.tsx
Due: lint

fix(ResumableZoom): zoom method calculations
  src/components/resumable/ResumableZoom.tsx
Due: lint

docs: fix Skia guide missing imports
  docs/docs/guides/skia.md
  docs/docs/installation.md
  docs/docs/utilities/usetransformationstate.md
Due: none

chore: release 4.0.1
  package.json
Due: none

docs: fix lint errors and bump version
  docs/docs/.vitepress/config.mts
  docs/docs/components/cropzoom.md
  docs/docs/components/resumablezoom.md
  docs/docs/guides/skia.md
Due: none

ci: add 30 days more to issue closing
  .github/workflows/stale.yaml
Due: none

chore: update README.md
  README.md
Due: none

chore(ResumableZoom): clamp values for zoom method
  src/components/resumable/ResumableZoom.tsx
Due: lint

refactor(CropZoom): expand gesture detection area
  src/commons/utils/crop.ts
  src/components/crop/CropZoom.tsx
Due: lint, types

chore: update example dependencies and other small fixes
  example/app/gallery.tsx
  example/package.json
  example/src/cropzoom/commons/CropModal.tsx
  example/src/gallery/GalleryExample.tsx
  yarn.lock
Due: lint

refactor(CropZoom): improve examples
  example/src/cropzoom/common-example/BasicCropZoom.tsx
  example/src/cropzoom/common-example/Controls.tsx
  example/src/cropzoom/skia-example/Controls.tsx
  example/src/cropzoom/skia-example/EffectPreview.tsx
  example/src/cropzoom/skia-example/SkiaCropZoom.tsx
Due: lint

chore: release 4.0.2
  package.json
Due: none

chore: update example app to Expo 53
  example/package.json
  yarn.lock
Due: none

feat: long press event and duration for ResumableZoom
  src/commons/types.ts
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
Due: lint, types

test: add long press test for ResumableZoom
  src/__tests__/gestures/ResumableZoomGetures.test.tsx
Due: lint

feat: long press event and duration for SnapbackZoom
  src/__tests__/gestures/SnapbackZoomGestures.test.tsx
  src/components/snapback/SnapbackZoom.tsx
  src/components/snapback/types.ts
Due: lint, types

feat: long press event and duration for Gallery
  src/__tests__/gestures/GalleryGestures.test.tsx
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/gallery/types.ts
Due: lint, types

chore: rename long press callbacks type
  src/commons/types.ts
  src/components/resumable/types.ts
  src/components/snapback/types.ts
Due: lint, types

docs: add long press props for all components but CropZoom
  docs/docs/.vitepress/config.mts
  docs/docs/components/gallery.md
  docs/docs/components/resumablezoom.md
  docs/docs/components/snapbackzoom.md
Due: none

fix: lint issues
  example/src/cropzoom/skia-example/SkiaCropZoom.tsx
Due: lint

feat(ResumableZoom)!: add more data to getState method
  src/commons/types.ts
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
Due: lint, types

refactor(resumable): zoom method accepts scale value rather than multiplier
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
Due: lint, types

refactor(resumable)!: update useTransformation types
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
Due: lint, types

refactor(all): update state types along with useTransformation hook
  example/src/cropzoom/common-example/BasicCropZoom.tsx
  example/src/cropzoom/common-example/Controls.tsx
  example/src/cropzoom/skia-example/Controls.tsx
  example/src/cropzoom/skia-example/SkiaCropZoom.tsx
  example/src/gallery/GalleryExample.tsx
  example/src/resumable/ResumableZoomExample.tsx
  src/commons/types.ts
  src/components/crop/CropZoom.tsx
  src/components/crop/types.ts
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryProvider.tsx
  src/components/gallery/types.ts
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
  src/components/snapback/SnapbackZoom.tsx
  src/components/snapback/types.ts
  src/hooks/useTransformationState.ts
Due: lint, types

refactor(all): rename all instaces of pinchCenteringMode to pinchMode
  example/src/gallery/GalleryExample.tsx
  example/src/resumable/ResumableZoomExample.tsx
  example/src/resumable/ResumableZoomSkia.tsx
  src/commons/hooks/usePinchCommons.ts
  src/commons/types.ts
  src/components/crop/CropZoom.tsx
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryGestureHandler.tsx
  src/components/gallery/types.ts
  src/components/resumable/ResumableZoom.tsx
  src/components/resumable/types.ts
Due: lint, types

docs: update docs to last changes and bump to version 5.0.0
  docs/docs/.vitepress/config.mts
  docs/docs/components/cropzoom.md
  docs/docs/components/gallery.md
  docs/docs/components/resumablezoom.md
  docs/docs/components/snapbackzoom.md
Due: none

test: add test for long press for Snapback and Resumable
  src/__tests__/gestures/CropZoomGestures.test.tsx
  src/__tests__/gestures/GalleryGestures.test.tsx
  src/__tests__/gestures/ResumableZoomGetures.test.tsx
  src/__tests__/validation/ResumableZoomValidation.test.tsx
  src/__tests__/validation/SnapbackZoomValidtion.test.tsx
  src/commons/hoc/withResumableValidation.tsx
  src/commons/hoc/withSnapbackValidation.tsx
  src/index.ts
Due: lint, types

fix(gallery): freeze scroll when swiping back and forward
  src/components/gallery/GalleryGestureHandler.tsx
Due: lint

chore: release 5.0.0
  example/src/snapback/list/messages/ImageMessage.tsx
  package.json
  src/components/snapback/SnapbackZoom.tsx
Due: lint

docs: update downscale guide and README
  README.md
  docs/docs/guides/downscale.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
